## Import libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import requests

## API URL

In [2]:
url = 'https://api.pushshift.io/reddit/search/submission'

In [10]:
def get_posts_batch(subreddit, before):
    
    url = 'https://api.pushshift.io/reddit/search/submission'
    
    params = {
        'subreddit': subreddit,
        'size': 100
    }
    if before is not None: 
        params['before'] = before
        
    res = requests.get(url, params)

    return res.json()

def posts_to_df(posts):
    data = posts['data']
    
    df = pd.DataFrame(data)
    return df[['subreddit', 'selftext', 'title', 'created_utc', 'id']]

def get_posts(subreddit, num_posts):
    
    post_ids = set()
    
    before = None
    
    i = 0
    
    while len(post_ids) < num_posts:
        batch = get_posts_batch(subreddit, before)
        
        df = posts_to_df(batch)
        
        before = df['created_utc'].min()
        
        post_ids.update(df['id'])
        
        if i == 0: 
            header = True
            mode = 'w'
        else: 
            header = False 
            mode = 'a'
        df.to_csv(subreddit + '.csv', mode=mode, header=header, index=False)
        print(f'We have scraped {len(post_ids)} posts.')
        i += 1

In [14]:
get_posts('Music', 5000)

We have scraped 100 posts.
We have scraped 200 posts.
We have scraped 300 posts.
We have scraped 400 posts.
We have scraped 500 posts.
We have scraped 600 posts.
We have scraped 700 posts.
We have scraped 800 posts.
We have scraped 900 posts.
We have scraped 1000 posts.
We have scraped 1100 posts.
We have scraped 1200 posts.
We have scraped 1300 posts.
We have scraped 1400 posts.
We have scraped 1500 posts.
We have scraped 1600 posts.
We have scraped 1700 posts.
We have scraped 1800 posts.
We have scraped 1900 posts.
We have scraped 2000 posts.
We have scraped 2100 posts.
We have scraped 2200 posts.
We have scraped 2300 posts.
We have scraped 2400 posts.
We have scraped 2500 posts.
We have scraped 2600 posts.
We have scraped 2700 posts.
We have scraped 2800 posts.
We have scraped 2900 posts.
We have scraped 3000 posts.
We have scraped 3100 posts.
We have scraped 3200 posts.
We have scraped 3300 posts.
We have scraped 3400 posts.
We have scraped 3500 posts.
We have scraped 3600 posts.
We have scraped 3700 posts.
We have scraped 3799 posts.
We have scraped 3899 posts.
We have scraped 3999 posts.
We have scraped 4099 posts.
We have scraped 4199 posts.
We have scraped 4299 posts.
We have scraped 4399 posts.
We have scraped 4499 posts.
We have scraped 4599 posts.
We have scraped 4699 posts.
We have scraped 4799 posts.
We have scraped 4899 posts.
We have scraped 4999 posts.
We have scraped 5099 posts.

In [15]:
music = pd.read_csv('./Music.csv')
music.head(3)

,subreddit,selftext,title,created_utc,id
0,Music,[removed],What songs have you ignored some kind of backi...,1651959678,ukn37n
1,Music,[removed],What songs have you unknowingly ignored some b...,1651959604,ukn2bv
2,Music,[removed],Any songs you didn’t notice the bass on and th...,1651959495,ukn152

In [16]:
music.tail(3)

,subreddit,selftext,title,created_utc,id
5096,Music,[removed],test,1651207069,uee18l
5097,Music,NaN,Adam Oh — Money in Me [Hip-Hop/Rap] (2022),1651206882,uedzdj
5098,Music,[removed],what are songs you consider perfect?,1651206848,uedz0v

In [17]:
music['id'].duplicated().sum()

0

In [18]:
get_posts('vinyl', 5000)

We have scraped 100 posts.
We have scraped 200 posts.
We have scraped 300 posts.
We have scraped 400 posts.
We have scraped 500 posts.
We have scraped 600 posts.
We have scraped 700 posts.
We have scraped 800 posts.
We have scraped 900 posts.
We have scraped 1000 posts.
We have scraped 1100 posts.
We have scraped 1200 posts.
We have scraped 1300 posts.
We have scraped 1400 posts.
We have scraped 1500 posts.
We have scraped 1600 posts.
We have scraped 1700 posts.
We have scraped 1800 posts.
We have scraped 1900 posts.
We have scraped 2000 posts.
We have scraped 2100 posts.
We have scraped 2200 posts.
We have scraped 2300 posts.
We have scraped 2400 posts.
We have scraped 2500 posts.
We have scraped 2600 posts.
We have scraped 2700 posts.
We have scraped 2800 posts.
We have scraped 2900 posts.
We have scraped 3000 posts.
We have scraped 3100 posts.
We have scraped 3200 posts.
We have scraped 3300 posts.
We have scraped 3400 posts.
We have scraped 3500 posts.
We have scraped 3600 posts.
We have scraped 3700 posts.
We have scraped 3800 posts.
We have scraped 3900 posts.
We have scraped 4000 posts.
We have scraped 4100 posts.
We have scraped 4200 posts.
We have scraped 4300 posts.
We have scraped 4400 posts.
We have scraped 4500 posts.
We have scraped 4600 posts.
We have scraped 4700 posts.
We have scraped 4800 posts.
We have scraped 4899 posts.
We have scraped 4999 posts.
We have scraped 5099 posts.

In [19]:
vinyl = pd.read_csv('./vinyl.csv')
vinyl.head(3)

,subreddit,selftext,title,created_utc,id
0,vinyl,NaN,Big Star-adjacent Saturday.,1651959122,ukmwwr
1,vinyl,NaN,The Cinematic Orchestra - Ma Fleur (released 1...,1651958798,ukmt5l
2,vinyl,"On 7th May 2007, The Cinematic Orchestra relea...",The Cinematic Orchestra - Ma Fleur (15 years o...,1651958711,ukms5q

In [20]:
vinyl.tail(3)

,subreddit,selftext,title,created_utc,id
5096,vinyl,NaN,Spending the afternoon cleaning house with Lil...,1648321075,tp09pu
5097,vinyl,NaN,Inside llewyn Davis,1648319710,toztc0
5098,vinyl,NaN,"On the Table: The Pretenders - ""Learning to Cr...",1648319653,tozspj

In [21]:
vinyl['id'].duplicated().sum()

0

## EDA

## Modeling: Random Forest Classifier

## Modeling: Logistic Regression

## Evaluation